<!-- Admin Sidebar -->

<nav class="navbar navbar-dark bg-dark d-lg-none">

    <div class="container-fluid">

        <a class="navbar-brand fw-bold" href="/admin/dashboard">

            <i class="bi bi-heart-pulse-fill me-2"></i>
            FitConnect Admin

        </a>


        <button 
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#adminSidebar">

            <span class="navbar-toggler-icon"></span>

        </button>

    </div>

</nav>




<!-- Desktop Sidebar -->

<div 
class="offcanvas-lg offcanvas-start bg-dark text-white"
tabindex="-1"
id="adminSidebar">


<div class="offcanvas-header border-bottom border-secondary">


<h5 class="offcanvas-title fw-bold">

<i class="bi bi-heart-pulse-fill me-2"></i>

FitConnect

</h5>


<button 
type="button"
class="btn-close btn-close-white d-lg-none"
data-bs-dismiss="offcanvas">

</button>


</div>





<div class="offcanvas-body p-0">


<div class="d-flex flex-column vh-100 p-3">



<!-- Admin Profile -->

<div class="text-center mb-4">


<div class="bg-primary rounded-circle 
            mx-auto d-flex 
            align-items-center 
            justify-content-center"

style="width:70px;height:70px;">


<i class="bi bi-person-fill fs-2"></i>


</div>



<h6 class="mt-3 mb-0">

Admin

</h6>


<small class="text-secondary">

Administrator

</small>


</div>







<!-- Menu -->

<ul class="nav nav-pills flex-column gap-2">



<li class="nav-item">

<a 
href="/admin/dashboard"
class="nav-link text-white">


<i class="bi bi-speedometer2 me-2"></i>

Dashboard


</a>

</li>





<li>

<a 
href="/admin/users"
class="nav-link text-white">


<i class="bi bi-people me-2"></i>

Users


</a>

</li>





<li>

<a 
href="/admin/trainers"
class="nav-link text-white">


<i class="bi bi-person-workspace me-2"></i>

Trainers


</a>

</li>





<li>

<a 
href="/admin/workouts"
class="nav-link text-white">


<i class="bi bi-barbell me-2"></i>

Workout Plans


</a>

</li>






<li>

<a 
href="/admin/diets"
class="nav-link text-white">


<i class="bi bi-egg-fried me-2"></i>

Diet Plans


</a>

</li>







<li>

<a 
href="/admin/bookings"
class="nav-link text-white">


<i class="bi bi-calendar-check me-2"></i>

Bookings


</a>

</li>




<li>

<a 
href="/admin/settings"
class="nav-link text-white">


<i class="bi bi-gear me-2"></i>

Settings


</a>

</li>



</ul>







<!-- Bottom -->

<div class="mt-auto">


<a 
href="/admin/profile"
class="nav-link text-white mb-2">


<i class="bi bi-person-circle me-2"></i>

Profile


</a>




<a 
href="/admin/logout"
class="btn btn-danger w-100">


<i class="bi bi-box-arrow-right me-2"></i>

Logout


</a>


</div>




</div>


</div>


</div>