<footer class="bg-dark text-white mt-5">


<div class="container py-5">


<div class="row g-4">



<!-- Brand -->

<div class="col-lg-4">


<h4 class="fw-bold">

<i class="bi bi-heart-pulse-fill me-2 text-primary"></i>

FitConnect

</h4>


<p class="text-secondary">

Your complete fitness partner.
Connect with trainers, follow workout plans,
and achieve your health goals.

</p>



<div class="d-flex gap-3">


<a href="#" class="text-white fs-5">

<i class="bi bi-facebook"></i>

</a>


<a href="#" class="text-white fs-5">

<i class="bi bi-instagram"></i>

</a>


<a href="#" class="text-white fs-5">

<i class="bi bi-twitter-x"></i>

</a>


<a href="#" class="text-white fs-5">

<i class="bi bi-youtube"></i>

</a>


</div>


</div>






<!-- Quick Links -->

<div class="col-6 col-lg-2">


<h6 class="fw-bold mb-3">

Quick Links

</h6>



<ul class="list-unstyled">


<li class="mb-2">

<a href="/" class="text-secondary text-decoration-none">

Home

</a>

</li>



<li class="mb-2">

<a href="/trainers" class="text-secondary text-decoration-none">

Trainers

</a>

</li>



<li class="mb-2">

<a href="/workouts" class="text-secondary text-decoration-none">

Workouts

</a>

</li>



<li>

<a href="/diet" class="text-secondary text-decoration-none">

Diet Plans

</a>

</li>


</ul>


</div>







<!-- Support -->

<div class="col-6 col-lg-3">


<h6 class="fw-bold mb-3">

Support

</h6>


<ul class="list-unstyled">


<li class="mb-2 text-secondary">

<i class="bi bi-envelope me-2"></i>

support@fitconnect.com

</li>



<li class="mb-2 text-secondary">

<i class="bi bi-telephone me-2"></i>

+91 98765 43210

</li>



<li class="text-secondary">

<i class="bi bi-geo-alt me-2"></i>

India

</li>



</ul>


</div>







<!-- Newsletter -->

<div class="col-lg-3">


<h6 class="fw-bold mb-3">

Stay Updated

</h6>


<p class="text-secondary small">

Get fitness tips and updates.

</p>



<div class="input-group">


<input 
type="email"
class="form-control"
placeholder="Your email">


<button class="btn btn-primary">

<i class="bi bi-send"></i>

</button>


</div>



</div>




</div>






<hr class="border-secondary my-4">






<div class="text-center text-secondary">


<p class="mb-0">

© <%= new Date().getFullYear() %> FitConnect.
All rights reserved.

</p>


</div>





</div>


</footer>