.auth-wrapper{

min-height:100vh;

background:
linear-gradient(
135deg,
#f8f9fa,
#e3f2fd
);

}



.auth-card{

border-radius:25px;

animation:fadeIn .5s ease;

}



.icon-box{

width:85px;

height:85px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

background:
linear-gradient(
135deg,
#0d6efd,
#6610f2
);

color:white;

font-size:40px;

}



.custom-input .input-group-text{

background:#f8f9fa;

border:none;

}



.custom-input input{

border-left:0;

padding:12px;

}



.custom-input input:focus{

box-shadow:none;

border-color:#0d6efd;

}



.login-btn{

background:
linear-gradient(
135deg,
#0d6efd,
#6610f2
);

border:none;

color:white;

font-weight:600;

border-radius:12px;

transition:.3s;

}



.login-btn:hover{

transform:translateY(-2px);

box-shadow:0 8px 20px rgba(13,110,253,.3);

}



.forgot-link,
.signup-link{

color:#0d6efd;

}



.auth-image img{

max-height:520px;

animation:float 3s infinite ease-in-out;

}



@keyframes float{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-15px);

}

}



@keyframes fadeIn{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}